<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../partials/mainnavStyle.ejs") %>
    <link rel="stylesheet" href="/stylesheets/forms.css">
    <title><%= pageTitle %></title>
</head>

<body>
    <%- include("../../partials/mainnav.ejs") %>
    
    <div class="center">
        <h1><%= pageTitle %></h1>
    </div>


    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>

        <form class="login-form" action="/new-password" method="POST">
           
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="6">
           
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
    <%- include("../../partials/footer.ejs") %>
</body>