<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../partials/mainnavStyle.ejs") %>
    <link rel="stylesheet" href="/stylesheets/editGarden.css">
    <title><%= pageTitle %> </title>
</head>

<body>
    <%- include("../../partials/mainnav.ejs") %>
    <a href="/plans">return</a>

    <h1 class="text-center">Garden Size: <%= garden.length %> X <%= garden.width %></h1>

    <!-- Print garden -->
    <form class="gardenForm" action="/saveGarden" method="POST">
        <input type="hidden" value="<%= garden.id %>" name="gardenId">
        <input type="hidden" value="<%= garden.length %>" name="length">
        <input type="hidden" value="<%= garden.width %>" name="width">

        <div class="form-group">
        <% garden.size.forEach(index =>{%>

        <% for(let i = 0; i < garden.length; i++) { %>

        <input type="text" value="<%=index[i]%>" class="gardenInput" name="index">
        
        <% } %>
    
        <br>
    
        <% }) %>


        
        <!-- Save the garden -->
        <button class="btn btn-primary" type="submit">Save Garden</button>
        <%- include("../../partials/footer.ejs") %>
    </form>



</body>

</html>