<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../partials/mainnavStyle.ejs") %>
    <link rel="stylesheet" href="/stylesheets/editGarden.css">
    <title><%= pageTitle %> </title>
</head>

<body>
    
    <%- include("../../partials/mainnav.ejs") %>
    <a class="btn btn-primary saveGarden" href="/plans">Return</a>
    


    <!-- Print garden -->
    <div id="garden-edit-form">
        <form class="gardenForm" action="/saveGarden" method="POST" id="gardenForm">
            <fieldset>
                <legend>
                    <h1 class="text-center">Garden Size: <%= garden.length %> X <%= garden.width %></h1>
                </legend>
                <input type="hidden" value="<%= garden.id %>" name="gardenId">
                <input type="hidden" value="<%= garden.length %>" name="length">
                <input type="hidden" value="<%= garden.width %>" name="width">

                <div class="">
                    <% let counter = 0 %>
                    <% garden.size.forEach(index =>{%>
                    <% for(let i = 0 ; i < garden.length; i++ ) { %>

                    <select value="<%=index[i]%>" class="gardenInput select-css" name="index" id="gardenId<%=counter%>"
                        onchange="changeIcon('gardenId<%=counter%>')">
                        <option hidden value="<%=index[i]%>"><%=index[i]%></option>
                        <option value="Empty">Empty</option>
                        <option value="Asparagus">Asparagus</option>
                        <option value="Beans">Beans</option>
                        <option value="Beets">Beets</option>
                        <option value="Carrots">Carrots</option>
                    </select>
                    <% counter++ } %>
                    <br>
                    <% }) %>
                    <!-- Save the garden -->
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-success saveGarden" type="submit">Save Garden</button>
                </div>
            </fieldset>
        </form>
    </div>



    <%- include("../../partials/footer.ejs") %>
    <script >
        function changeIcon(id) {
           
            console.log(id);
            // console.log("Step 1");
            const elem = document.getElementById(id);

            console.log(elem.value);
            if (elem.value == "Empty") {
                // console.log("Step 2");
                elem.style.backgroundImage =  "url(/images/Icons/soil.svg)";
            } 
            else if(elem.value == "Asparagus") {
                elem.style.backgroundImage =  "url(/images/Icons/asparagus.svg)";
            } 
            else if(elem.value == "Beans") {
                elem.style.backgroundImage =  "url(/images/Icons/green-beans.svg)";
            } 
            else if(elem.value == "Beets") {
                elem.style.backgroundImage =  "url(/images/Icons/beet.svg)";
            } 
            else if(elem.value == "Carrots") {
                elem.style.backgroundImage =  "url(/images/Icons/carrot.svg)";
            }
            
            // console.log("Step 3");
           
        }
    </script>
</body>

</html>