<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../../partials/mainnavStyle.ejs") %>
    <link rel="stylesheet" href="/stylesheets/plansStyle.css">
    <title><%= pageTitle %> </title>
</head>

<body>
    <%- include("../../partials/mainnav.ejs") %>
    <h1><%= pageTitle %></h1>


    <% if (!gardens.length > 0) { %>
    <h1>No garden plans</h1>
    <% } else { %>

    <div class="container lilPadding">
        <div class="row">
            <% gardens.forEach( garden => { %>

            <div class="col-sm-4">
                <div class="panel panel-primary">

                    <!-- Item -->
                    <div class="panel-heading">
                        <h4><%= garden.gardenId.title %></h4>
                    </div>

                    <div class="panel-body">
                        <a href="editGarden/<%= garden.gardenId.id %>">
                            <img src="/images/variety-of-green-plants-1105019 (1).jpg" class="img-responsive "
                                alt="Image">
                        </a>
                    </div>

                    <div class="panel-footer row noPadding" id="plan_footer">
                        <div class="col-sm-6 noPadding">
                            Size: <%= garden.gardenId.length %> X <%= garden.gardenId.width %>
                        </div>


                        <div class="col-sm-3 noPadding">
                            <!-- Details -->
                            <a id="Details_btn" href="editGarden/<%= garden.gardenId.id %>">
                                <button class="btn btn-primary">Details</button>
                            </a>
                        </div>

                        <div class="col-sm-3 noPadding">
                            <!-- delete -->
                            <form id="Delete_btn" action="/delete-garden" method="POST">
                                <input type="hidden" value="<%= garden.gardenId.id %>" name="gardenId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>

                    </div>
                    <!-- end of item -->
                </div>
            </div>

            <% }) %>
            <!-- for loop  -->
        </div>
    </div>

    <% } %>
    <!--  if else  -->

    <a class="btn btn-success btn-lg btn-block  " href="/GardenOutLine">Make New Plan</a>

    <%- include("../../partials/footer.ejs") %>
</body>



</html>